table, th, td  {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 2px 20px 2px 20px;
	background-color: white;/*#2a99ef;*/
	text-align: center;
	margin: 0px 30px 0px 0px;
	font-size: 14px;
}
th{
	background-color: #808080;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: white;
	font-weight: normal;
}
table tr td:first-child, th:first-child{
	width:160px;
}
table, td{
	border:1px solid white;
	text-align: center;
	padding: 7px 7px 7px 4px;
	height: 30px;
}
table tr:nth-child(odd) td{
	background-color: #D3D3D3;
}
table tr:nth-child(even) td{
	background-color: #A9A9A9;
}
table tr:not(:nth-child(3)) td:first-child{
	color: #163ACA;
	font-weight: bold;
	text-decoration: underline; 
}
table tr:nth-child(3){
	font-weight: bold;
	color: black;
}
table tr:nth-child(3) td:first-child{
	text-align: left;
	padding-left: 30px;
}
.fa-spin{
	font-size: 90px;
	margin-left: 45%;
	margin-top: 10%;
	margin-bottom: 30%;
}