h1{
	color: #107ABA;
	margin-left: 30px;
}
#legend{
	margin:6px 10px 0px 10px;
}
#legend tr td:first-child{
	text-decoration: none;
}
#legend td{
	color: black;
	font-size: 11px;
	height: 13px;
}
#legend th{
	font-size: 11px;
}
h5{
	font-size:14px;
	color: black;
	margin:4px;
}
#chart{
	opacity: 0;
	float: right;
	margin-right: 30px;
	height: 85px;
	width: 200px;
	background-color: #EAEBEE;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
#legend tr:nth-child(even) td{
	background-color: lightgreen;
}
#legend tr:nth-child(odd) td{
	background-color: pink;
}
#overview{
	display: inline-block;
	margin: -10px 40px 0px 30px;
}
#overview div{
	display: inline-block;
	margin-top: 35px;
	padding: 10px 20px 10px 20px;
	background-color: #A9A9A9;
	color: black;
	margin-right: -3.5px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	transition:all 0.25s;
}
#overview div:hover{
	color: green;
}
#nested{
	margin: 40px 0px 0px 30px;
}