h4{
	font-size: 20px;
	padding : 10px 0px 0px 0px;
	left: 0;
	right: 0;
	bottom: 376px;
	margin-top: 15%;
	margin-bottom: 10px;
}
#success{
    border-radius: 5px;
    margin: 0 auto 8px auto;
    background-color: green;
    width: 1250px;
    padding: 10px;
}
#error{
    border-radius: 5px;
    margin: 0 auto 8px auto;
    background-color: #E72525;
    width: 1250px;
    padding: 10px;
}
a{
	color: silver;
}
#login_field{
    border-radius: 5px;
}