body{
	margin: 0px;
	font-family: calibri;
	min-width: 1500px;
}
#icons{
	position: relative;
	top: -20px;
	margin-left: 350px;
	display: inline;
	margin-bottom: 20px;
}
#icons div{
	border-radius: 100%;
	background-color: black;
	padding: 10px;
	display: inline-block;
	color: white;
	cursor:pointer;
}
#icons div:hover{
	background-color: #107ABA;
	transition: all linear 0.25s;
}
#header{
	width: 100%;
	height: 70px;
	padding-top: 10px;
	background-color: #033756;
	color: white;
	display: inline-block;
	margin-bottom: 15px;
}
#title{
	top: -20px;
	font-size: 32px;
	display: inline;
	text-align: center;
	position: relative;
	margin: 30px 0px 20px 440px;
	padding: 12px 0px 12px 0px;
}
#logo{
	margin: auto;
	width: 1500px;
}
#philips{
	display: inline-block;
	margin-left: 40px;
}
#philips img{
	height:60px;
	width:50px;
}
#cdp2{
	display: inline-block;
	margin-left: 10px;
}
#cdp2 img{
	height:60px;
	width:60px;
}
#tabs{
	position: relative;
	display: inline-block;
	margin-left: 1%;
	width:125%;
	color: white;
}
#tabs div{
	display: inline-block;
	padding:5px 30px 5px 30px;
	margin-right: 5px;
	width:16%;
	font: 24px calibri;
	text-align: center;
	cursor: pointer;
	background-color: #107ABA;
	border-radius: 10px;
	box-shadow: 4px 3px 2px black;
}
#tabs div:hover{
	background-color: black;
	transition: all linear 0.25s;
}
#info{
	margin: auto;
	width:1500px;
	overflow: hidden;
}
#content{
	background-color: white;
	width:1450px;
	border-top:2px solid #107ABA;
	margin: 15px 0px 100px 1.5%;
}
#footer{
	margin: auto;
	background-color: black;
	color: white;
	height: 32px;
	padding:5px 0px 20px 48%;
}
#footer span{
	position: absolute;
	margin-top: 16px;
}
#footer img{
	position:absolute;
	margin: 5px 0px 0px 320px;
	width:190px;
	height:40px;
}

/*custom scrollbar*/
body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 20px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: silver;
}
/*custom scrollbar*/

/*css resolution*/
@media screen and (min-width: 1700px) and (max-width: 1998px) {
	#header{height:80px;padding-top: 20px;}
	#logo{width:1600px;}
	#info #content #nested table th,td{font-size: 20px;}
	#info #content #nested table td{height:40px; font-size:16px;}
	#info{width:1720px;}
	#title{margin-left: 500px;}
	#icons{margin-left:400px;}
	#tabs{margin-left: 3.5%;width:120%;}
	#content{width:1570px;margin-left: 4%;}
	#recommendation #name #perproposition,#recommendation #graphs #block1{width:480px;}
	#recommendation #name #overtime,#recommendation #graphs #block2{width:1040px;}
	#recommendation #graphs #block2 #piechart{margin-right:50px;}
	#barchart_material1{margin-left:100px;}
	#benchmarks #metric_drpdown{left:820px;}
	#benchmarks #block{left:1350px;}
	#prop_title #graphs{margin-left: 194px;}
}
@media screen and (min-width: 1390px) and (max-width: 1535px) {
	#philips{margin-left: 95px;}
    #tabs{margin-left: 2%;width:115%;}
    #content{margin-left: 2.5%;width:1360px;}
    #title{margin-left:360px;}
    #icons{margin-left:270px;}
    
}
@media screen and (min-width: 1208px) and (max-width: 1390px) {
	#philips{margin-left: 60px;}
	#title{margin-left: 275px;}
	#icons{margin-left: 220px;}
    #tabs{margin-left: 3%;width:1425px;}
    #content{margin-left: 3%;width:1180px;}
    #info #content #suggestions{width: 447px;}
    #info #content #slide{margin-left: 80px;}
    #info #content #draw_pie{margin-left: 157px;}
    #info #content #draw_pie1{margin-left: 347px;}
    #info #content #draw_pie2{margin-left: 537px;}
    #footer{padding-left: 40%;}
    #kpi_info table td{padding: 6px 10px 6px 10px;}
    #prop_title #graphs{margin-left:99.5px;}
    #graphs #block2 #piechart{width:250px;}
    #graphs #block2 #barchart_material1{width:400px;}
}
@media screen and (min-width: 1022px) and (max-width: 1207px) {
	#philips{margin-left: 60px;}
	#title{margin-left: 190px;}
	#icons{margin-left: 110px;}
	#tabs{margin-left: 2%;width: 1140px;}
	#content{width: 1008px;margin-left: 1.7%;}
	#info #content #nested table th,td{font-size: 11px;}
	#footer{padding-left: 32%;}
    #prop_title #month_drpdown select{width:90px;}
    #proposition_drpdown select{width:100px;}
    #info #content #slide{margin-left: 60px;}
    #prop_title #graphs{margin-left: -75px;}
    #table{width:550px;}
    #info #content #suggestions{width:445px;}
    #graphs #block2 #piechart{display: none;}
}
@media screen and (min-width: 876px) and (max-width: 1021px) {
	#philips,#cdp2{display: none;}
	#title{top:10px;margin-left: 40px;}
	#icons{top:10px;margin-left: 310px;}
	#tabs{margin-left: 2%;width: 890px;}
	#content{width: 845px;margin-left: 2%;}
	#info #content #chart{opacity: 0;height:0px;}
	#content #overview div{padding: 10px 25px 10px 26px;}
	#content #overview{margin-right: 0px;}
	#content #nested{margin-top: 20px;}
	#nested th{padding: 7px;}
	#footer{padding-left: 23%;}
}
/*css resolution*/