table, th, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 2px 10px 2px 10px;
  background-color: white;
  text-align: center;
  margin:0px 0px 700px 30px;
}
th{
	background-color: #107ABA;
	border-bottom: 5px solid white;
	border-right: 3px solid white;
	color: white;
}
table tr td:first-child{
	background-color: #107ABA;
	border-right: 5px solid white;
	padding-left: 10px; 
	padding-right: 10px;
}
table, td{
	border:2px solid white;
	text-align: right;
	padding: 7px 30px 7px 30px;
    height:25px;
}
tr:nth-child(odd) td{background-color: #D3D3D3;}
tr:nth-child(even) td{background-color: #A9A9A9;}

table tr td:first-child+td{
	text-align: left;
	padding-left: 15px;
}
select{/*
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}
#slide{
	display: inline-block;
	position: absolute;
	cursor: pointer;
	width: 180px;
	margin-left: 160px;
	height: 20px;
}
#slide div{
	display: inline;
	height: 10px;
	margin-right: 10px;
	padding: 0px 5px 7px 5px;
}
#graphs{
	display: inline-block;
	margin-left: 7px;
}
#draw_pie{
	display:inline-block;
	position: absolute;
	margin-top: -80px;
	height: 120px;
	width: 184px;
	background-color: #D3D3D3;
	text-align: center;
	border-radius: 10px;
}
#draw_pie1{
	display: inline-block;
	margin-left: 190px;
	position: absolute;
	margin-top: -80px;
	height: 120px;
	width: 184px;
	background-color: #D3D3D3;
	text-align: center;
	border-radius: 10px;
}
#draw_pie2{
	display: inline-block;
	margin-left: 380px;
	position: absolute;
	margin-top: -80px;
	height: 120px;
	width: 184px;
	background-color: #D3D3D3;
	text-align: center;
	border-radius: 10px;
}
#data{
	background-color: #D3D3D3;
	padding: 10px;
	border-radius: 10px;
	max-height: 350px;
	overflow: auto;
}
#data span{
	font-weight: bold;
}
#data div{
	border-radius: 10px;
	padding:5px;
}
#data div:hover{
	background-color: white;
	cursor: pointer;
}
#suggestions{
	display: inline-block;
	width: 565px;
	position: absolute;
	margin: 45px 0px 0px 8px;
	height: 20%;
}
#month_drpdown{
	display: inline;
	margin-left: 30px;
}
#month_drpdown select{
	width: 140px;
	padding: 7px;
	border-radius: 5px;
    background-color: rgb(234, 238, 233);
    border: 1px solid silver;
    box-shadow: 0px 0px;
}
#proposition_drpdown select{
	width: 170px;
	padding: 7px;
	border-radius: 5px;
    background-color: rgb(234, 238, 233);
    border: 1px solid silver;
    box-shadow: 0px 0px;
}
#proposition_drpdown{
	display: inline-block;
	margin-left: 5px;
	width: 180px;
}
#proposition{
	font-family: calibri;
	color: #107ABA;
	margin-left: 30px;
}
#proposition i{
	color: #107ABA;
	font-size: 24px;
}
#prop_title{
	display: inline-block;
}
#table{
	height: 580px;
	margin-top: 36px;
}
#kpi_info{
	display: inline-block;
	margin-top: 35px;
}
#suggestionInfo{
	height: 90px;
	background-color: #D3D3D3;
	padding: 10px;
	margin-bottom: 6px;
	border-radius: 10px;
}
#goedit{
	margin-top: 3%;
	margin-left: -10px;
	text-align: center;
}
#go{
	display: inline-block;
	border-radius: 60%;
	background-color: white;
	padding: 7px;
	margin-left: 1%;
}

#theme_drpdown{
	display: inline;
	margin-left: 10px;
}
#theme_drpdown select{
	width: 150px;
	padding: 7px;
}
#status_drpdown{
	display: inline-block;
	margin-left: 1%;
	font-family: calibri;
	color: #107ABA;
}
#priority_drpdown{
	display: inline-block;
	margin-left: 1%;
	font-family: calibri;
	color: #107ABA;
}
i:hover{
	cursor: pointer;
}
.spin-1{
	font-size: 60px;
	margin-left: 50%;
	margin-top: 15%;
	margin-bottom: 30%;
}
.spin-2{
	font-size: 60px;
	position: fixed;
	margin-left: 35%;
	margin-top: 15%;
	z-index: 10;
}
