<i class="fa fa-spinner fa-spin"></i>
<div id="kpi">
    <div id="prop_title">
        <h1 id="proposition">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>&nbsp;{{proposition.selectedOption.name}}
        </h1>
        <div id="month_drpdown">
        	<select ng-options="option.name for option in month track by option.id" ng-model="month.selectedOption">
        	</select>
        </div>
        <div id="proposition_drpdown">
            <select name="mySelect" id="mySelect"
              ng-options="option.name for option in proposition track by option.id"
              ng-model="proposition.selectedOption">    
            </select>
        </div>
        <div id="slide">
            <div id="view" ng-click="view()">View</div>
            <div id="edit" ng-click="edit()">Edit</div>
        </div>	
        <div id="graphs">
            <div id="draw_pie"></div>
            <div id="draw_pie1"></div>
            <div id="draw_pie2"></div>
        </div>
    </div>

    <div id="kpi_info">
        <div id="table">
            <table>
                <tr>
                    <th></th><th style="width:370px;height:30px;">Metrics</th><th style="width:69px;height:30px;">{{month.selectedOption.name}}</th>
                    <th style="width:60px;height:30px;">&Delta;</th><th style="width:60px;height:30px;"">Goal</th>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-bug" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Error rate</td><td>14.8%</td><td>+2.3%</td><td style="background-color: #60C139"><16%</td></tr>
                    <tr><td style="display: none"></td><td>Crash rate</td><td>17.7%</td><td style="background-color: #60C139">+9.7%</td><td style="background-color: #60C139">>2%</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-deaf" aria-hidden="true"></i>
                    </td><td style="border:0px solid;margin:0px;">First Launches</td><td>22.3%</td><td>-9.1%</td><td style="background-color: #FF6347"><1.2%</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Monthly ative users</td><td>33.2%</td><td style="background-color: #60C139">+9.3%</td><td><11.2%</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-clock-o" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Owner 30-day retention rate</td><td>47.7%</td><td>-2.1%</td><td style="background-color: #60C139"><12.2%</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Owner 90-day retention rate</td><td>15.2%</td><td style="background-color: #60C139">+23.3%</td><td><2.2%</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-line-chart" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Avg. weekely launches per user</td><td>16.9%</td><td style="background-color: #60C139">+10.2%</td><td style="background-color: #60C139"><+9.3%</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>% of engaged users</td><td>31.3%</td><td style="background-color: #FF6347">-12.2%</td><td><0.4%</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-th-list" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">total avg. app rating</td><td>14.0%</td><td style="background-color: #60C139">-9.9%</td><td style="background-color: #FF6347"><4.5%</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>MAT average product rating</td><td>7.3%</td><td style="background-color: #60C139">9.3%</td><td>>2.2%</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-university" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Marketable registrations rate</td><td>1.0%</td><td style="background-color: #FF6347">-19.9%</td><td style="background-color: #60C139"><4.5%</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Buy clicks</td><td>12.7%</td><td>-2.3%</td><td></td>
                </tr>
                <tr>
                    <td></td><td>CDP2 Recommondations realized/made</td><td>10/24</td><td>+2/+12</td><td></td>
                </tr>
                <tr>
                    <td></td><td>Version IOS | Android</td><td colspan="3" style="background-color: #60C139">30 Month'17(Version 2.2)</td>
                </tr>
            </table>
        </div>
        <div id="suggestions">
            <div id="suggestionInfo">
                <div id="focus">
                    <span style="font-weight: bold;">Proposition focus & update</span>
                    <ul style="margin-top: 7px;">
                    <li>Improve App Ratings</li>
                    <li>Improve 90-Day retention</li>
                    <li>Improving Quality</li>
                    </ul>
                </div>
                <div id="goedit">

                    <div style="font-weight:bold">
                        <div style="display:inline-block;margin-bottom: 10px;margin-right: 120px;">Theme</div>
                        <div style="display:inline-block;">Status</div>
                        <div style="display:inline-block;margin-left: 80px;">Priority</div>
                    </div>

                <!--  -->
                    <div>
                    <div id="theme_drpdown">
                        <select ng-options="option.name for option in theme.availableOptions track by option.id" ng-model="theme.selectedOption">
                        </select>
                    </div>
                    <div id="status_drpdown">
                        <select name="mySelect" id="mySelect"
                          ng-options="option.name for option in status.availableOptions track by option.id"
                          ng-model="status.selectedOption">    
                        </select>
                    </div>
                    <div id="priority_drpdown">
                        <select name="mySelect" id="mySelect"
                          ng-options="option.name for option in priority.availableOptions track by option.id"
                          ng-model="priority.selectedOption">    
                        </select>
                    </div>
                    <div id="go">
                        <i class="fa fa-arrow-right" aria-hidden="true" ng-click="updateSuggestion()"></i>
                    </div>
                </div>
                <!--  -->

                </div>
            </div>
            <div id="data">
                <div style="border-radius: 15px;">
                    <div id="sug">
                    	<span>First Launches and MAUs improved</span><br>Increase in first launches and MAUs has been driven by the launch of Shanghai proposition across both the iOS and Android Platforms<br>
                    </div>
                    <div id="eddlt" style="display: block;">
                    	<div style="width: 45%; text-align: center; display: inline-block; background-color: rgb(90,132, 23);" ng-click="editSuggestion()">Edit</div>
                    	<div style="width: 45%; text-align: center; display: inline-block; background-color: #CA4040;" ng-click="deleteSuggestion()">Delete</div>
                   	</div>
                </div>
    <!--             <div>
                <span>Owner 30 Day retention improved by 31%</span><br>The retention numbers are driven jointly by Tuscany and Shanghai device owners.One posiible reason for this can be the increase in the uptake goals.Goal uptake has more than doubled from Jan-17 to Month-17.Earlier analysis confirmed that users with goals shoe higher retention rates.<br></div>
                <div><span>% of Engaged users improved by 26%</span><br>% of engaged users has increased due to the increase in goal uptake as one of the factors used for defining engaged users is goals start<br></div>
                <div><span>Buy Clicks improved by 35%</span><br>Increase in buy clicks is due to increased traffic on the app after Shanghai launchs<br></div> -->
                <br><i class="fa fa-plus-circle fa-lg" aria-hidden="true" style="border-radius:50%;margin-left:10px;"></i>
            </div>
        </div>
    </div>
</div>