<i class="fa fa-spinner fa-spin"></i>
<i class="fa fa-refresh fa-spin"></i>
<div id="kpi">
    <div id="prop_title">
        <h1 id="proposition">
            <!-- <i class="fa fa-connectdevelop" aria-hidden="true"></i>&nbsp; -->{{proposition.selectedOption.name}}
        </h1>
        <div id="month_drpdown">
        	<select ng-options="option.name for option in month track by option.id" ng-model="month.selectedOption" ng-change="update()">
        	</select>
        </div>
        <div id="proposition_drpdown">
            <select name="mySelect" id="mySelect"
              ng-options="option.name for option in proposition track by option.id"
              ng-model="proposition.selectedOption" ng-change="update()">    
            </select>
        </div>
        <div id="slide">
            <div id="view" ng-click="view()">View</div>
            <div id="edit" ng-click="edit()">Edit</div>
        </div>	
        <div id="graphs">
            <div id="draw_pie"></div>
            <div id="draw_pie1"></div>
            <div id="draw_pie2"></div>
        </div>
    </div>

    <div id="kpi_info">
        <div id="table">
            <table>
                <tr>
                    <th></th><th style="width:370px;height:30px;">Metrics</th><th style="width:69px;height:30px;">{{month.selectedOption.name}}</th>
                    <th style="width:60px;height:30px;">&Delta;</th><th style="width:90px;height:30px;">Goal</th>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-bug" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Error rate</td><td>{{metricData_0}}</td><td>{{metricData_1}}</td><td>N/A</td></tr>
                    <tr><td style="display: none"></td><td>Crash rate</td><td>{{metricData_2}}</td><td>{{metricData_3}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-deaf" aria-hidden="true"></i>
                    </td><td style="border:0px solid;margin:0px;">First Launches</td><td>{{metricData_4}}</td><td>{{metricData_5}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Monthly ative users</td><td>{{metricData_6}}</td><td>{{metricData_7}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td rowspan="3"><i class="fa fa-clock-o" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Owner 30-day retention rate</td><td>{{metricData_8}}</td><td>{{metricData_9}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Prospect 30-day retention rate</td><td>{{metricData_10}}</td><td>{{metricData_11}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Owner 90-day retention rate</td><td>{{metricData_12}}</td><td>{{metricData_13}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-line-chart" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Avg. weekely launches per user</td><td>{{metricData_14}}</td><td>{{metricData_15}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>% of engaged users</td><td>{{metricData_16}}</td><td>{{metricData_17}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-th-list" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">total avg. app rating</td><td>{{metricData_18}}</td><td>{{metricData_19}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>MAT average product rating</td><td>{{metricData_20}}</td><td>{{metricData_21}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td rowspan="2"><i class="fa fa-university" aria-hidden="true"></i></td><td style="border:0px solid;margin:0px;">Marketable registrations rate</td><td>{{metricData_22}}</td><td>{{metricData_23}}</td><td>N/A</td>
                </tr>
                <tr>
                    <td style="display: none"></td><td>Buy clicks</td><td>{{metricData_24}}</td><td>{{metricData_25}}</td><td></td>
                </tr>
                <tr>
                    <td></td><td>CDP2 Recommondations realized/made</td><td>10/24</td><td>+2/+12</td><td></td>
                </tr>
                <tr>
                    <td></td><td>Version IOS | Android</td><td colspan="3">30 Month'17(Version 2.2)</td>
                </tr>
            </table>
        </div>
        <div id="suggestions">
            <div id="suggestionInfo">
                <div id="focus">
                    <span style="font-weight: bold;">Proposition focus & update</span>
                    <ul style="margin-top: 7px;">
                    <li>Improve App Ratings</li>
                    <li>Improve 90-Day retention</li>
                    <li>Improving Quality</li>
                    </ul>
                </div>
                <div id="goedit">

                    <div style="font-weight:bold">
                        <span style="margin-left:-25px;margin-right:30px;">ID</span>
                        <div style="display:inline-block;margin-bottom: 10px;margin-right: 120px;">Theme</div>
                        <div style="display:inline-block;">Status</div>
                        <div style="display:inline-block;margin-left: 80px;">Priority</div>
                    </div>

                    <div>
                        <span><b>{{id}}</b></span>
                        <div id="theme_drpdown" style="pointer-events:none">
                            <select ng-options="option.name for option in theme.availableOptions track by option.id" ng-model="theme.selectedOption">
                            </select>
                        </div>
                        <div id="status_drpdown">
                            <select name="mySelect" id="mySelect"
                              ng-options="option.name for option in status.availableOptions track by option.id"
                              ng-model="status.selectedOption">    
                            </select>
                        </div>
                        <div id="priority_drpdown">
                            <select name="mySelect" id="mySelect"
                              ng-options="option.name for option in priority.availableOptions track by option.id"
                              ng-model="priority.selectedOption">    
                            </select>
                        </div>
                        <div id="go">
                            <i class="fa fa-arrow-right" aria-hidden="true" ng-click="updateSuggestion()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #D3D3D3;padding: 10px;border-radius: 15px;margin-bottom:1px;" id="add">
                <span style="font-weight:bold;padding-left:10px;" id="sug_info">Suggestions:</span>
                <div style="background-color:#107ABA;margin-left:55%;padding:5px 10px 5px 10px;border-radius: 10px;display:inline;color:white;cursor:pointer;" id="addButton">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true" style="border-radius:50%;"></i>
                    <span>Add Suggestion</span>
                </div>
            </div>
            <div id="data">
                <div style="border-radius: 15px;" ng-repeat="n in suggestionData track by $index" id="{{$index}}" ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)">
                    <div id="sug" ng-click="click($index)">
                    	<span>{{n.key_insights}}</span><br>{{n.recommendations}}<br>
                    </div>
                    <div id="eddlt" style="display: none;">
                    	<div style="color:white; width: 45%; text-align: center; display: inline-block; background-color: rgb(90,132, 23);" ng-click="editSuggestion($index,n)">Edit</div>
                    	<div style="color:white; width: 45%; text-align: center; display: inline-block; background-color: #CA4040;" ng-click="deleteSuggestion($index,n)">Delete</div>
                   	</div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>